<div>
    <div class="container" style="margin: 50px auto;">
        <div class="row">
            <div class="col-6 offset-3">
                <h4>Modificar Horario</h4>
                <form action="/admin/horarios/modificar" method="post" class="holder">
                    <div style="text-align: right ;">
                        <!-- Atras Button -->
                        <a href="/admin/horarios/"><button class="btn btn-danger">Atras</button></a>
                    </div>
                    <input type="hidden" value="{{horarioData.id_horario}}" name="id_horario" />
                    <div class="inputs">
                        <div class="form-group">
                            <!-- Dias -->
                            <label for="nombre" class="control-label">Dias</label>
                            <select class="drop" name="dias_dbcol" class="form-control" id="dias_dbcol">
                                {{#if 'Lunes, Miercoles y Viernes' }}
                                <option value="Martes, Jueves y Sabados">Martes, Jueves y Sabados</option>
                                {{/if }}
                                {{#if 'Martes, Jueves y Sabados'}}
                                <option value="Lunes, Miercoles y Viernes">Lunes, Miercoles y Viernes</option>
                                {{/if}}
                            </select>
                        </div>
                        <div class="form-group">
                            <!-- Horas -->
                            <label for="horas" class="control-label">Horas</label>
                            <input type="text" class="form-control" id="horas_dbcol" name="horarios_dbcol"
                                value="{{horarioData.horarios_dbcol}}" placeholder="horarios" />
                        </div>
                        <div class="form-group">
                            <!-- Modificado por -->
                            <label for="observaciones" class="control-label">Modificado por</label>
                            <input type="text" class="form-control" id="modificado_por" name="modificado_por"
                                value={{usuario}} readonly />
                        </div>
                        <div class="form-group">
                            <!-- Submit Button -->
                            <button type="submit" class="btn btn-danger">Cargar</button>
                        </div>
                        {{#if error}}
                        <h4 style="color: white;">{{message}}</h4>
                        {{/if}}
                </form>
            </div>
        </div>
    </div>
</div>