<body class="mainPanelPrincipal" >
  <div class="container holder ">


      <h1 class="saludo">BIENVENIDO {{usuario}} </h1>
   


      <div class="inputPanel">

        <a class="inputBtn" href="/admin/alumnos">
          <p>Alumnos</p>
        </a>

        <a class="inputBtn" href="/admin/docentes">
          <p>Docentes</p>
        </a>
        
        <div class="inputBtn">
          <p>Cuotas</p>
        </div>

        <a href="/admin/horarios" class="inputBtn">
          <p>Horarios</p>
        </a>

        <a href="/admin/rutinas" class="inputBtn">
          <p>Rutinas</p>
        </a>

        <div class="inputBtn">
          <p>Productos</p>
        </div>





        <div class="inputBtn">
          <p>Horario de atencion</p>
        </div>

        <div class="inputBtn">
          <p>Galeria</p>
        </div>  

        <a class="inputBtn" href="/admin/login/logout">
          <p> Cerrar Sesion<i
                class="fa fa-sing-out"></i></p>
        </a>


      </div>




    </div>

  </div>
</body>