<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/quehacemos">Que Hacemos</a></li>
      <li><a href="/nosotros">Nosotros</a></li>
      <li><a href="/contacto">Contacto</a></li>
      <li><a href="/login">Login</a></li>
    </ul>
    {{{body}}}
  </body>
</html>
