body {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 16px;
    line-height:20px;
    background-color: whitesmoke;
    height: 100vh;    

    display: grid;
    min-height: 100vh;
    grid-template-rows: auto auto 1fr auto;
}


.holder{
    max-width: 64rem;
    margin: 0 auto;
}

header {
    background-color: rgb(23, 23, 23);
    padding: 1rem 0 ;
}


header img{
    width: 8%;
   }

header h1{
    font-family: 'Poiret One';
    position: relative;
    float: right;
    margin-top: 3rem;
    color: white;
    font-size:2.5rem;
    font-weight: 100;
    font-style: italic;
}


nav {
    background-color:rgb(117, 9, 9);
    margin-bottom: 1.25rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display:flex
}

nav ul li {
    flex-grow: 1;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 0.1875rem 0.375rem;
    display: block;
    text-align:center;
}

nav ul li a:hover {
    background-color: rgb(27, 3, 3);
}

nav ul li a.active {
    background-color: rgb(105, 40, 40)
}




footer {
    background-color: rgb(23, 23, 23);
    clear: both;
    color: rgb(197, 186, 186);
    padding: 2rem 0;
    margin-top: 1.25rem;
}

footer .holder {
    display:flex;
    flex-direction: row;
    justify-content:space-between;    
    align-items:center;
}

.icons {

    display:flex;
    gap: 19px;

}
.icons a{
    font-size: 2rem;


}

h2 {
    
    font-weight: 400;
}

/* home */

.portada {
    width:100%
} 

.columnas {
    display: flex;
    justify-content:space-between;
    gap: 0.625rem;
}
.bienvenidos{
    width: 75%;
    padding-right: 0.625rem;
    box-sizing: border-box;
    
}

.bienvenidos p {
    font-size: 1.25rem
}

.testimonios{
    width:25%;
}

.testimonio{
    background-color: #ccc;
    padding: 0.75rem;
}

.testimonio .cita {
    font-weight: bold;
    font-style: italic;
    font-size: 1.375rem;
    display: block;
}

.testimonio .autor {
    font-size: 0.625rem;
    text-align: center;
    
    display: block;
    margin : 0.75rem 0
}


/* nosotros */


.historia p {
    font-size: 0.75rem;
}

.personas {
    display: flex;
    justify-content:space-between;
}

.persona{
    border-bottom: 0.0625rem solid #ccc;
    border-top: 0.0625rem solid #ccc;
    border-radius: 0.3125rem;
    width: 18%;
    text-align: center;
    padding: 0.8125rem;
    box-sizing: border-box;
}

.persona img {
    border-radius: 50%;
    max-width: 60%;
    box-shadow: 0 0 0.3125rem rgba(0, 0, 0, 0.5);
}

.persona h5,
.persona h6 {
    margin: 0;
    font-weight: normal;
    color : black;
}

.persona h5 {
    font-size: 0.875rem;
    margin-top: 0.3125rem;
}

.persona h6 {
    font-size: 0.75rem;
    font-style: italic;
}

.persona p {
    font-size: 0.6875rem
}

/* servicios */

.servicio {
    border-bottom: 0.0625rem solid #ccc;
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem 0;
    display: flex;
    gap: 2rem ;
    align-items:center;
}

.servicio .info h4 {
    color: #2e642e;
    font-weight: 500;
    font-style: italic;
    border-bottom: 0.0625rem solid #ccc;
    padding-bottom: 0.625rem;
}

.servicio .info p{
    font-size: 0.8125rem;
}

.servicio img {
    border-radius: 0.8125rem;
    display: block;
    max-width: 14.0625rem;
    
}

.servicio:nth-child(even) {
    flex-direction: row-reverse;
}